html,body{
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}


.header_title{
    text-align: center;
    background: black;
    padding: 20px;
}

.card{
    position: relative;
    width: 150px;
    left: 70px;
    margin-left: -55px;

}

#playerCards, iaCards{
    height: 240px;
}

#ia_cartas, jugador_cartas{
height: 240px;
}

@media (max-width:480px){
    .card{
        width: 80px;
    left: 40px;
    margin-left: -22px;
    }
}